@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|panelAccordion::disclosed-icon-style {
    background-image: url("/select.png"); 
}

af|panelAccordion::undisclosed-icon-style {
    background-image: url("/select.png"); 
}

af|showDetailHeader::disclosed-icon-style {
    background-image: url("/select.png"); 
}

af|showDetailHeader::undisclosed-icon-style {
    background-image: url("/select.png"); 
}
.mysor af|selectOneRadio::content div {
  padding: 0px 0px 90px 0px;
}
af|commandLink {
    color: Black; 
}


af|panelSplitter.NonResizable::vertical-divider {
    visibility: hidden;
}
af|listItem::expanded-icon-style {
    background-image:  url("/select.png"); 
}

af|listItem::collapsed-icon-style {
    background-image:  url("/select.png"); 
}
af|panelAccordion::disclosed-icon-style {
    background-image: url("/select.png"); 
}

af|panelAccordion::undisclosed-icon-style {
    background-image: url("/select.png"); 
}

af|showDetailHeader::disclosed-icon-style {
    background-image: url("/select.png"); 
}

af|showDetailHeader::undisclosed-icon-style {
    background-image: url("/select.png"); 
}
.mysor af|selectOneRadio::content div {
  padding: 0px 0px 90px 0px;
}
af|listItem:group-header {
    background-color: #c6c6c6; 
}
af|messages::info-icon 
{
content: url("/info_color.png");
}

af|messages::warning-icon
{
content: url("/problem.png");
}
af|messages::error-icon
{
content: url("/wrong.png");
}
